<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path "banner.jpg" %>);">
  <div class="container">
    <h1>Your Cookbook</h1>
    <p>Post-modern asian fusion? Sous vide? So many fancy names.</p>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-between py-4 align-items-center">
    <h2>List of Categories</h2>
    <%= link_to 'Add New Category', new_category_path, class: "btn btn-success" %>
  </div>

  <div class="row row-cols-3">
    <% @categories.each do |category| %>
      <div class="col">
        <% if category.photo.attached? %>
          <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path category.photo.key %>%)">
        <% else %>
          <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <% end %>
          <%= link_to 'ðŸ—‘ï¸', category_path(category), class: "btn btn-danger delete-btn", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
          <%= link_to category.name.capitalize, category_path(category), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
