<h1><%= @category.name %></h1>

<ul>
  <% @category.bookmarks.each do |bookmark| %>
    <li>
      <h2><%= bookmark.recipe.name %></h2> | <%= link_to "Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
      <p><%= bookmark.recipe.description %></p>

      <p>rating: <%= bookmark.recipe.rating %></p><%= bookmark.recipe.rating %>
      <p><%= bookmark.comment %></p>
    </li>
  <% end %>
</ul>

<%= link_to 'Back to All Categories', categories_path %>
<%= link_to 'Add a new recipe to you list', new_category_bookmark_path(@category) %>
